h2 {
    background: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #444;
    box-shadow: 0px 0px 10px #999;
    border: 2px solid #ccc;
    display: inline-block;
    margin-right: 10px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
}