.patient-home-page {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .patient-home-page h1 {
    text-align: center;
    margin-bottom: 20px;
    
  }
  
  .patient-home-page h2 {
    margin-bottom: 10px;
  }
  
  .patient-home-page p {
    margin-bottom: 10px;
  }
  
  .patient-home-page .error {
    color: red;
  }
  